.inner-header-title {
    padding: 7em 0;
    text-align: center;
    color: #fff;
    overflow: visible;
    border-bottom: 4px solid #0084ff;
    background: url(../img/banner.jpg);
    background-size: cover;
    h1 {
        font-size: 60px;
        margin: 1em 0;
    }
}
.category{
    padding: 80px 0 70px;
}